$red: #D90A2C;
$black: #17161A;
$white: #ffffff;
$bg-text: #CA0B2B;
$light-black: #262529;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;

$width-sm: 92%;
$width-md: 95%;
$width-lg: 66%;

